<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="b811e902-d061-4d35-92c8-aea196693cfe" Publisher="CN=Daniela" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="b811e902-d061-4d35-92c8-aea196693cfe" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Solidaridapp</DisplayName>
    <PublisherDisplayName>Daniela</PublisherDisplayName>
    <Logo>Assets\Logo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Solidaridapp.App">
      <m3:VisualElements DisplayName="Solidaridapp" Square150x150Logo="Assets\Logo.png" Square44x44Logo="Assets\logo360.png" Description="Solidaridapp" ForegroundText="light" BackgroundColor="transparent">
        <m3:DefaultTile Square71x71Logo="Assets\Square71x71Logo.png">
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\logo360.png" />
      </m3:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
  </Capabilities>
</Package>